.header
  .logo
    //img(src='http://www.andysmithdev.co.uk/projects/time-on/logo-test.png')/
  .start
    button begin tracking
  .date 31st JUNE 2016

.container
  .item
    span 1
    .add-task
      button ADD TASK
  .item
    span 2
    .add-task
      button ADD TASK
  .item
    span 3
    .add-task
      button ADD TASK
  .item
    span 4
    .add-task
      button ADD TASK
  .item
    span 5
    .add-task
      button ADD TASK
  .item
    span 6
    .add-task
      button ADD TASK
  .item
    span 7
    .add-task
      button ADD TASK
  .item
    span 8
    .add-task
      button ADD TASK